<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WazeDownloadURL" value="https://na-georss.waze.com/rtserver/web/TGeoRSS?tk=ccp_partner&ccp_partner_name=ADD_YOUR_PARTNER_NAME_HERE&format=JSON&types=traffic,alerts,irregularities&polygon=-121.957000,37.701000;-121.936000,37.700000;-121.920000,37.704000;-121.847000,37.702000;-121.796000,37.705000;-121.794000,37.642000;-121.801000,37.620000;-121.822000,37.606000;-121.845000,37.594000;-121.865000,37.588000;-121.879000,37.598000;-121.957000,37.701000;-121.957000,37.701000" />
  </appSettings>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="WazeDownloader.WazeDownloadContext" connectionString="Data Source=YOUR_SQL_SERVER_HOSTNAME_HERE;Initial Catalog=YOUR_DATABASE_NAME_HERE;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>

